# Database
DATABASE_URL=postgresql://user:password@hostname/dbname

# Kinde Secrets
KINDE_DOMAIN=https://your_domain.kinde.com
KINDE_CLIENT_ID=your_client_id
KINDE_CLIENT_SECRET=your_client_secret
KINDE_CALLBACK_URL=http://localhost:8000/callback
